/* styles.css */
.page {
    height: 100vh; /* Set the height of each page to the viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: background 0.5s; /* Add a smooth background transition effect */
  }
  
  .home {
   height: 100vh;
  }
  
  .about {
    height: 100vh;
  }
  
  .experience {
    height: 100vh;
  }
  
  .contact {
    height: 100vh;
  }
  

  /* Header.css */
.header {
    background: transparent; ; /* Set a transparent background */
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    height: 60px; /* Set the desired height for your header */
    /* Add padding as needed */
    position: fixed; /* Set the header to a fixed position */
    top: 0; /* Pin the header to the top of the viewport */
    width: 100%; /* Ensure the header spans the full width of the viewport */
    z-index: 100; /* Set a z-index value to control stacking order */
    backdrop-filter: blur(10px);
    animation: glow 2s infinite;

  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px #9970f9; /* Initial shadow */
    }
    50% {
      box-shadow: 0 0 20px #9970f9; /* Mid-point shadow */
    }
    100% {
      box-shadow: 0 0 5px #9970f9; /* Final shadow */
    }
  }
  .header-right {
    display: flex;
    gap: 20px; /* Adjust the gap between items as needed */
  }
  
  .header-right a {
    text-decoration: none;
    color: #fafafa; /* Set the text color for the items */
    font-weight: bold; /* Customize the font styles as needed */
    padding-right: 30px;
  }